.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: transparent;
    border-color: #262934;
}

.navbar-inverse .navbar-brand {
    color: #545a74;
    font-weight: 900;
    font-size: 20px;
}

.navButton {
    margin: 8px 0 0 0;
}